{% extends "base.html" %} 
 
{% block auth_content %} 
<div class="container mt-5 text-center"> 
    <h1 class="display-4">Digital Levy Management Platform</h1> 
    <p class="lead">Manage levies, businesses, and enforcement efficiently</p> 
    <hr class="my-4"> 
    <div class="mt-4"> 
        <a href="{{ url_for('auth.login') }}" class="btn btn-primary btn-lg mx-2">Login</a> 
        <a href="{{ url_for('auth.register') }}" class="btn btn-success btn-lg mx-2">Register</a> 
    </div> 
</div> 
{% endblock %} 
